* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: white;
}

/* Container */
.container {
  text-align: center;
}

/* Bulb */
.bulb {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px auto;
  background: #333;
  transition: 0.4s;
  box-shadow: inset 0 0 20px #000;
}

/* Bulb ON */
.bulb.on {
  background: #ffd54f;
  box-shadow:
    0 0 20px #ffd54f,
    0 0 40px #ffd54f,
    0 0 80px #ffeb3b;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  background: #555;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

/* Circle */
.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* ON state */
input:checked + .slider {
  background: #4caf50;
}

input:checked + .slider::before {
  transform: translateX(30px);
}

/* Text */
.text {
  margin-top: 15px;
  font-size: 1rem;
  color: #ccc;
}
