body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161616;
  margin: 0;
}

.container {
  text-align: center;
}

#bulb {
  width: 150px;
  transition: filter 0.5s ease-in-out;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  border: none;
  background: linear-gradient(blue, rgb(198, 24, 53), purple);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background: linear-gradient(blue, rgb(198, 24, 53), purple);
}
